@model IEnumerable<Comments.Models.Comment>


<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@item.Picture" />
            </td>
            <td>
                <div>
                    <b class="text-danger">@Html.DisplayFor(modelItem => item.UserName)</b> commented: @Html.DisplayFor(modelItem => item.Text)
                </div>
                <h6><small>@item.GetPostedTimeString()</small></h6>
            </td>
        </tr>
    }
</table>